body {
    font-size:14px;
    line-height: 25px;
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
    color:dimgray;
    text-align: justify;
    text-justify: auto;
}
.toggle,
[id^=drop] {
    display: none;
    margin: 0;
    position: fixed;
}
label{
    margin:5px;
    position: relative;
    top: 5px;
}
nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: white no-repeat fixed top;
}
#logo {
    display: block;
    padding: 10px 0 0 30px;
    float: left;
}
#logo img{
    width:25px;
    margin-top:5px;
}
#brand{
    padding: 0 0 10px 5px;
    text-transform: uppercase;
    display: inline-block;
    font-size: 15px;
    position: relative;
    top:-5px;
    font-family: sans-serif;
    font-weight: 600;
}
nav ul {
    float: right;
    padding:0;
    margin:5px 15px;
    list-style: none;
    position: relative;
}
nav ul li {
    display:inline-block;
    float: left;
}
nav a {
    display:block;
    padding: 10px 0 0 30px;
    color:dimgray;
    font-size:1vw;
    text-decoration:none;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 800;
}
#image{
    max-width: 100%;
    height:auto;
    padding-top: 50px;
    cursor: pointer;
}
nav ul li a:hover{
    color: orange;
}
.first-para{
    box-sizing: border-box;
    background-color: hsla(0,30%,90%,0.1);
    margin: 0 70px;
    padding: 10px 20px;
    font-size: 17px;
}

.second-image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.flex-container{
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    padding: 3px;
}
.flex-row{
    flex-wrap: wrap;
    color: dimgray;
    padding: 5px;
    text-decoration: none;
    margin: auto;
    cursor: pointer;
}
.second-para{
    font-size: 15px;
}
#yellow{
    border: solid 1px rgba(255, 255, 0, 0.98);
}
.summary{
    font-weight: 600;
    font-size: 14px;
    padding: 7px;
}
.details{
    background-color: hsla(0,30%,90%,0.2);
    text-align: center;
    line-height: 15px;
    font-size: 14px;
    margin: auto;
    padding: 10px;
    color: #d48700;

}
.button{
    margin: 15px;
    text-align: center;
    text-transform: uppercase;
    padding: 8px 35px;
    background-color: white;
    outline: none;
    border: solid 2px dodgerblue;
    font-size: 15px;
    color: dodgerblue;
    font-weight: 600;
    cursor: pointer;

}
@media (max-width :950px) {
 nav a{
     font-size: 1.2vw;
     margin: 0;
     font-weight: 800;
     padding: 7px;
     margin-top: 5px;
 }
    .second-image img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .first-para{
        font-size: 15px;
        margin: 0 30px ;
        padding: 6px;
    }
    #image{
        max-width: 100%;
        height: auto;
    }
    h3{
        font-size: 15px;
    }
    .flex-row{
        font-size: 15px;
        font-weight: 400;
        padding: 1px;
    }
    .second-para{
        font-size: 14px;
    }

}
@media (max-width: 720px) {
    #logo {
        display: block;
        padding:  0;
        width: 100%;
        text-align: center;
        float: none;
    }

    nav a{
        font-size: 12px;
        padding: 10px;
    }
    nav ul {
        float: left;
        position: relative;
        top: 10px;
        width: 200px;
    }
    .toggle + a,
    .menu {
        display: none;
    }
    .toggle {
        display: block;
        background-position: center;
        background-color: white;
        color:black;
        font-size:18px;
        text-decoration:none;
        border:none;
        cursor: pointer;
        margin: 5px 15px;
    }
    [id^=drop]:checked + ul {
        display: block;
    }
    nav ul li {
        display: block;
        width: 100%;

    }
    nav ul li a:hover{
        border-bottom:solid 2px orange ;
        color: dimgray;
    }
    .second-image img{max-width: 100%;height: auto}
    .first-para {
        font-size: 14px;
        margin:  0 8px;
        padding: 3px;
        line-height: 20px;
    }
    .flex-row{
        padding: 1px;
        font-size: 12px;
        font-weight: 600;
    }
    h3{
        font-size: 13px;
        text-align: center;
    }
    .second-para{
        font-size: 13px;
        margin:  0 8px;
        padding: 3px;    }
    .summary{
        font-weight: 600;
        font-size: 13px;
        padding: 7px;
    }
    #image{
        width: 100%;
        height: 75vh;
    }

}
/* madal styles for login form*/
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    margin-top:-20px ;
}

.form-div{

    text-align: center;
    width: 450px;
    margin: 150px auto auto auto;
    background-color: white;
    margin-bottom: 15px;
    color: dimgray;

}

h4{
    color:dimgray;
    margin-top: 10px;
    padding-top: 20px;
    font-size: 15px;

}
.radio{
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    padding: 15px;
}
.radio-options{
    text-transform: uppercase;
    margin:auto;
    color: black;
    font-size: 18px;
}

input[type='text'],
input[type='email'],input[type='number']
{
    height: 35px;
    width: 300px;
    text-align: center;
    outline: none;
    border: none;
    margin: 5px;
    font-size: 18px;
    background: transparent;
    border-bottom: 3px solid orange ;
    color: dimgray;
    margin-bottom: 15px;
    text-transform: uppercase;
}
input[type='text']:focus,
input[type='text']:focus,
input[type='email']:focus,input[type='number']:focus,input[type='']:focus{
    border-bottom: 3px solid orangered;
}

#btn:hover{
    background-color: dodgerblue;
    color: white;
}
::placeholder{
    color: #4f4f4f;
}
.close {
    color: white;
    float: right;
    font-size: 50px;
    font-weight: bold;
    margin-top: -125px;
}

.close:hover{
    color: red;
    cursor: pointer;
}
